<h1>Galp천es & Estoque</h1>

<% @warehouses.each do |w| %>
  <%= w.name %>
  C처digo: <%= w.code %>
  Cidade: <%= w.city %>
  <%= w.area %> m2
<% end %>

<% if @warehouses.empty? %>
  <p>N찾o existem galp천es cadastrados</p>
<%end%>