<h1>Novo Galpão</h1>
<% if (@warehouse.errors.any?)%>
<p>Galpão não pode ser cadastro devido aos seguintes erros: </p>
<ul>
  <%@warehouse.errors.full_messages.each do |msg|%>
  <li>
  <%= msg %>
  </li>
  <%end%>
</ul>

<%end%>
 
<%= render 'form' %>